@import "libs/variables.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";


body {
    display: block;
    h1, h2, h3{
        color: $black;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 17px;
    }
    p {
        color: $black;
    }
}

header {
    .header {
        display: block;       
        a {
            @include d-flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 0px 30px 10px 30px;
            i{
                color: $black;
                padding: 0px 20px;
                font-size: 18px;
            }
            span {
                font-family: "Shrikhand";
                display: flex;
                align-items: center;
                font-size: 30px;
                color: $black;
            }
        }
    }
}

section.container {
    display: block;
    position: relative;
    z-index: -1;
    .cadre {
        width: 100px;
        height: 80px;
               
        .image {
            display: block;
            img {
                @include img-contain;
            }
        }
    }
}

main {
    width: 100%;
    display: block;
    background-color: $clair;
    border: 1px solid $clair;
    border-top-left-radius: 25px;
    border-top-right-radius: 30px;
    padding: 25px 10px 40px 10px;
    margin-top: -120px;
    
    section.restaurant {
        display: block;
        margin-bottom: 20px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        position: relative;

        .titre {
            display: flex;
            justify-content: space-between;
            align-items: center;
                
            h1 {
                font-family: "Shrikhand";
                font-weight: bold;
            }

            .coeur {
                display: inline-block;
                cursor: pointer;
                &:hover {
                    .coeur-vide {
                        opacity: 0;
                    }
                }
    
                .coeur-vide i {  
                    color: initial;
                    overflow: hidden;
                    padding-right: 15px;
                    &:hover {
                        color: transparent;
                    }
                }

                .coeur-plein i {
                    color: transparent;
                    overflow: hidden;
                    position: absolute;
                    right: 15px;
                    
                    &:hover {    
                        background-image: linear-gradient(to bottom, $color-terciary 5%, $color-secondary 15%, $color-primary 80%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        transition: all 1s;
                    }    
                }
            }
        }
    }

    h2{
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 15px 10px 30px 0px;

        &::after { 
            display: block;
            content: "";
            width: 45px;
            height: 5px;
            background-color: $color-terciary;
            position: absolute;
            left: 0px;
            bottom: -15px;
        }
    }

    section.menu {
        overflow: hidden;
        position: relative;

        .plat {
            height: 60px;
            color: $black;
            border-radius: 15px;
            background-color: $white;
            padding: 5px;
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;      

            &.plat_1 {
            -webkit-animation: .5s ease 0s opacity;
            animation: .5s ease 0s opacity;
            }

            &.plat_2 {
                -webkit-animation: 1s ease 0s opacity;
                animation: 1s ease 0s opacity;
            }

            &.plat_3 {
                -webkit-animation: 1.5s ease 0s opacity;
                animation: 1.5s ease 0s opacity;
            }

            &.plat_4 {
                -webkit-animation: 2s ease 0s opacity;
                animation: 2s ease 0s opacity;
            }

            .alignement {
                display: flex;
                padding-left: 5px;
                padding-bottom: 5px;
               
                &:hover {
                    cursor: pointer;
                    overflow: hidden;
                    
                    .icon {
                        display: flex;
                        position: absolute;
                                              
                        -webkit-animation: slide 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        animation: slide 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        
                        i {
                            -webkit-animation: rotate .3s linear .1s;
                            animation: rotate .3s linear .1s;
                        }
                    }
                    .ingredient {
                        width: 60%;
                    }

                    .prix {
                        -webkit-animation: slide-left 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
                        animation: slide-left 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
                    }
                }

                .ingredient {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    white-space: nowrap; 
                    text-overflow: ellipsis;
                    transition: width 500ms;
                    
                    h3 {
                        font-weight: bold;
                        overflow: hidden;
                        white-space: nowrap; 
                        text-overflow: ellipsis;
                    }
                    p {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                
                .prix {
                    display: flex;
                    align-items: flex-end;
                    font-weight: bold;
                }    

                .icon {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    border: 1px solid $color-terciary;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    background-color: $color-terciary;
                    position: absolute;
                    top: 0px;
                    right: -50px;
                    bottom: 0px;

                    .fas {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        border: 1px solid transparent;
                        background-color: $white;
                        color: $color-terciary;
                        font-size: 10px;
                    }
                }
            }
        }
    }

        
        @-webkit-keyframes opacity {
            0% {
                opacity: 0;
                margin-bottom: -50px;
            }
            50% {
                opacity: .5;
                margin-bottom: -25px
            }
            100% {
                opacity: 1;
                margin-bottom: 0px;
            }
        }
        @keyframes opacity {
            0% {
                opacity: 0;
                margin-bottom: -50px;
            }
            50% {
                opacity: .5;
                margin-bottom: -25px
            }
            100% {
                opacity: 1;
                margin-bottom: 0px;
            }
        }

        @-webkit-keyframes slide-left {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100% {
                -webkit-transform: translateX(-1px);
                transform: translateX(-1px);     
            }
        }
        @keyframes slide-left {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100% {
                -webkit-transform: translateX(-1px);
                transform: translateX(-1px);          
            }
        }

        @-webkit-keyframes slide {
            0% {
                top: 0px;
                right: -50px;
                bottom: 0px;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100% {
                top: 0px;
                right: 0px;
                bottom: 0px;
                -webkit-transform: translateX(-2px);
                transform: translateX(-2px);          
            }
        }
        @keyframes slide {
            0% {
                top: 0px;
                right: -50px;
                bottom: 0px;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100% {
                top: 0px;
                right: 0px;
                bottom: 0px;
                -webkit-transform: translateX(-2px);
                transform: translateX(-2px);          
            }
        }

        @-webkit-keyframes rotate {
            0% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
                
            }
            50% {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                
            }
            100% {
                -webkit-transform: rotate(180deg) ;
                transform: rotate(180deg);
                           
            }
        }
        @keyframes rotate {
            0% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
            }
            50% {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);    
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);               
            }
        }
    
    
    .commande {
        display: block;

        button {
            @include d-flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 80%;
            height: 60px;
            border-radius: 60px;
            border: none;
            @include gradient-color;
            box-shadow: $shadow-lighten;
            margin: auto;
            font-size: 14px;
            color: $white; 

            &:hover {
                cursor: pointer;
                @include lighten-color;
                box-shadow: $shadow-darken;
            }
        }
    }


footer {
    background-color: $black-lighten;
    color: $white;
    padding: 25px 25px 35px 25px;

    h1 {
        font-family: shrikhand;
        font-size: 18px;
        color: $white;
        margin-bottom: 10px;
    }
    
    nav {
        display: block;
        ul {
            display: flex;                    
            flex-direction: column;  
            li {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                padding-bottom: 10px;
                a {
                    color: $white;
                    &:hover {
                        border-bottom: 1px solid $white;
                    }
                }
                i {
                    margin-right: 10px;
                }  
            }
        }
    }
}

@media only screen and (min-width: 380px){
    main {
        .menu {
            .plat {
                .alignement {
                    display: flex;
                    &:hover {
                        .ingredient {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 411px){
    main {    
        .menu {
            .plat {
                .alignement {
                    display: flex;
                    &:hover {
                        .ingredient {
                            width: 78%;
                        }
                    }
                }
            }
        }
        section.commande {    
            button {
                width: 60%;
            }
        }
    }
}

@media only screen and (min-width: 730px){
    main {    
        .menu {
            margin-bottom: 20px;
            .entree {
                display: flex;
                .plat {
                    width: 100%;
                    margin: 0px 5px;
                    .alignement {
                        display: flex;
                        &:hover {
                            .ingredient {
                                width: 60%;
                            }
                        }
                    }
                }
            }

            .plats {
                display: flex;
                .plat {
                    width: 100%;
                    margin: 0px 5px;
                    .alignement {
                        display: flex;
                        &:hover {
                            .ingredient {
                                width: 60%;
                            }
                        }
                    }
                }
            }

            .desserts {
                display: flex;
                .plat {
                    width: 100%;
                    margin: 0px 5px;
                    .alignement {
                        display: flex;
                        &:hover {
                            .ingredient {
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        nav {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: space-around;
                justify-content: space-between;
                align-items: center;
                padding-right: 100px;
            }
        }
    }
}


@media only screen and (min-width: 1050px){
    main {
        .menu {
            .entree, .plats, .desserts {
                .plat {
                    .alignement {
                        display: flex;
                        &:hover {
                            .ingredient {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px){
    body {
        max-width: 1600px;
        margin: auto;
    }
}
}