@import "libs/variables.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";



    section.chargement {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        font-size: 30px;
        background-color: $color-terciary;
        position: fixed;
        opacity: 0;
        z-index: -30;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        -webkit-animation:loader 3s;
        animation:loader 3s;
        
        .loader {
            width: 80px;
            height: 80px;
            border-radius: 80%;
        }

        .loader-circles {
            border-radius: 50%;
            border: 3px solid $color-primary;
            border-top-color: $white;
            -webkit-animation:spin 1s linear infinite;
            animation:spin 1s linear infinite;
            
            &:after{
                content: '';
                position: absolute;
                top: 5px; 
                left: 5px;
                bottom: 5px;
                right: 5px;
                border-radius: 50px;
                border: 3px solid $color-secondary;
                border-top-color: $white;
                opacity:0.8;
                
                -webkit-animation:spin 3s linear infinite;
                animation:spin 3s linear infinite;
            }

            &:before{
                content: '';
                position: absolute;
                top: 12px; 
                left: 12px;
                bottom: 12px;
                right: 12px;
                border-radius: 50px;
                border: 3px solid $black;
                border-top-color: $white;
                opacity:0.4;                

                -webkit-animation:spin 5s linear infinite;
                animation:spin 5s linear infinite;
            }
        
            @-webkit-keyframes spin{
                0%{ 
                    -webkit-transform: rotate(0deg); 
                    transform: rotate(0deg);
                }
                100%{ 
                    -webkit-transform: rotate(360deg); 
                    transform: rotate(360deg);
                }
            }
            @keyframes spin{
                0%{ 
                    -webkit-transform: rotate(0deg); 
                    transform: rotate(0deg);
                }
                100%{ 
                    -webkit-transform: rotate(360deg); 
                    transform: rotate(360deg);
                }
            }

            @-webkit-keyframes loader {
                0% {
                    opacity: 0.8;
                    z-index: 60;
                }
                100% {
                    opacity: 0;
                    z-index: -30;
                }
            }
            @keyframes loader {
                0% {
                     opacity: 0.8;
                     z-index: 60;
                }
                100% {
                     opacity: 0;
                     z-index: -30;
                }      
            }
        }
    }

header {
    .header {
        display: block;
        a {
            display: flex;
            justify-content: center;
            height: 25px;
            margin: 10px 0px;
        
            .img {
                @include img-contain;
            }
        }
    }
}

main {
    display: block;
    }
          
    form {
        display: block;
        border-top: 4px solid rgb(216, 214, 214);
        background-color: $top-gray;
        padding: 10px;
        
        .position {
            @include d-flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding: 0px 30px;            
        

            label {
                margin-right: 20px;
                padding-left: 20px;
            }

            input {
                @include d-flex;
                align-content: space-between;
                background-color: $top-gray;
                font-weight: bold;
                border: initial;
            }
        }
    }

    section.reservation {
        @include d-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 25px 25px 60px 25px;
        background-color: $clair;
        h2 {
            text-align: center;
            font-weight: bold;
            font-size: 26px;
        }
        p {
            text-align: center;
            font-size: 14px;
            padding: 10px;

        }
        button {
            @include d-flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 80%;
            height: 60px;
            border-radius: 60px;
            border: none;
            @include gradient-color;
            box-shadow: $shadow-lighten;
            padding: 15px;
            
            &:hover {
                cursor: pointer;
                @include lighten-color;
                box-shadow: $shadow-darken;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: $white;                
            }
        }    
    
    }

    .fonctionnement {
        display: block;
        margin: 0px 0px 40px 0px;

        h2 {
            margin: 10px;
            padding: 20px 10px; 
        }
        .choix {
            .choisir {
                width: 100%;
                display: block;
                position: relative;

                .pastille {
                    display: flex;
                    justify-content: center;
                    background-color: $color-primary;
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    position: absolute;
                    top: 32%;
                    left: 5px;

                    p {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        color: $white;
                    }
                }

                .icon {
                    display: flex;
                    flex-wrap: nowrap;
                    background-color: $clair;
                    box-shadow: $shadow-lighten;
                    border-radius: 10px;
                    align-items: center;
                    padding: 15px 20px 15px 10px;
                    margin: 10px 20px 20px 15px;
                    &:hover {
                        cursor: pointer;
                        background: lighten($color-primary, 35%);
                        box-shadow: $shadow-lighten;

                        i {
                            color: $color-primary;
                        } 
                    }

                    i {
                        padding: 0px 15px;
                        color: gray;
                        
                    }
                    p {
                        font-weight: bold;
                    }     
                }
            }
        }

    }

    .restaurant {
        display: block;
        justify-content: center;
        background-color: $clair; 
        border: 1px solid $clair1;
        padding: 20px 0px 30px 10px;
        
        h2 {
            margin: 20px 10px;
        }
        
        .image {
            .picture{
                display: block;
                height: 260px;
                margin: 25px 15px 25px 10px;
                background-color: $white;
                position: relative;
                border-radius: 20px;
                box-shadow: $shadow-lighten;
                overflow: hidden;

                &:hover {
                    cursor: pointer;
                    -webkit-animation: scale .5s linear;
                    animation: scale .5s linear;
                    box-shadow: $shadow-darken;
                }

                .resto {
                    display: block;
                    
                    .cadre {
                        display: flex;
                        width: 100%;
                        height: 200px;
                        border-top-right-radius: 20px;
                        border-top-left-radius: 20px;
                        overflow: hidden;

                        img {
                            @include img-cover;
                        }
                    }
                    .texte {
                        display:flex;
                        flex-direction: column;
                        padding: 10px;
                        color: initial;
                        .nom {
                            font-weight: bold;
                        }
                    }

                    .nouveau {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        opacity: initial;
                        border: 1px solid $color-terciary;
                        color: $green-darken;
                        font-weight: bold;
                        background-color: $color-terciary;
                    }
                }
                @-webkit-keyframes scale {
                    0% {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                    }
                    100% {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                        -webkit-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                    }
                }
                @keyframes scale {
                    0% {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                    }
                    100% {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                        -webkit-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                    }
                }

                    .coeur {
                        display: block;
                        position: absolute;
                        bottom: 20px;
                        right: 10px;

                        &:hover {
                            .coeur-vide {   
                                opacity: 0;
                            }
                            .coeur-plein i {
                                position: absolute;
                                bottom: 0px;
                                right: 0px;
                                overflow: hidden;
                                background-image: linear-gradient(to bottom, $color-terciary 5%, $color-secondary 15%, $color-primary 80%);
                                background-clip: text;
                                -webkit-background-clip: text;
                                color: transparent;
                                transition: all 1s;
                                }    
                            }                     
                        }

                        .coeur-vide {   
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                            color: initial;
                            
                        } 

                        .coeur-plein i {
                            color: transparent;       
                        }
                    }
            }
        }
    


footer {
    background-color: $black-lighten;
    color: $white;
    padding: 25px 25px 35px 25px;
    h1 {
        font-family: shrikhand;
        font-size: 18px;
        color: $white;
        margin-bottom: 10px;
    }
    nav {
        display: block;
        ul {
            display: flex;                    
            flex-direction: column;
                       
            li {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                cursor: pointer;
                padding-bottom: 10px;
                a {
                    color: $white;
                    &:hover {
                        border-bottom: 1px solid $white;
                    }
                }
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    section.reservation { 
        button {
            width: 45%;
        }
    }
    section.fonctionnement {
        .choix {
            @include d-flex;
            flex-direction: column;
            align-content: space-around;
            .choisir {
                width: 70%;
            }
        }
    }

}

@media only screen and (min-width: 720px) {
    section.fonctionnement {
        .choix {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        }
    }
    section.restaurant {
        .image {
            @include d-flex;
            justify-content: space-between;
            width: 100%;
            padding: 0px 20px;

            .picture {
                width: 45%;
                margin: 25px -3px 25px -10px;
                overflow: hidden;
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    footer {
        nav {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: space-around;
                justify-content: space-between;
                align-items: center;
                padding-right: 100px;
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    .fonctionnement .choix .choisir {
        .pastille {
            position: absolute;
            top: 29%;

        }
    }
}

@media only screen and (min-width: 1200px) {
    section.restaurant {
        .image {
            @include d-flex;
            justify-content: space-between;
            width: 100%;
            padding: 0px 20px;

            .picture {
                width: 24%;
                margin: 25px 0px 25px -10px;
                overflow: hidden;
            }
        }
    }
    body {
        max-width: 1600px;
        margin: auto;
    }
}
