@import "libs/variables.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";

* {   
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    h1, h2, h3{
        color: #000;
    }
    p {
        color: #000;
        font-size: 16px;
    }
}

    section.chargement {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 30px;
        background-color: #99E2D0;
        position: fixed;
        z-index: 60;
        opacity: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .loader {
            width: 80px;
            height: 80px;
            border-radius: 80%;
        }

        .loader-circles {
            border-radius: 50%;
            border: 3px solid #9356dc;
            border-top-color: #fff;
            -webkit-animation:spin 1s linear infinite;
            animation:spin 1s linear infinite;
        }

            .loader-circles::after{
                content: '';
                position: absolute;
                top: 5px; 
                left: 5px;
                bottom: 5px;
                right: 5px;
                border-radius: 50px;
                border: 3px solid #FF79DA;
                border-top-color: #fff;
                opacity:0.8;
                -webkit-animation:spin 5s linear infinite;
                animation:spin 5s linear infinite;
            }

            .loader-circles::before{
                content: '';
                position: absolute;
                top: 12px; 
                left: 12px;
                bottom: 12px;
                right: 12px;
                border-radius: 50px;
                border: 3px solid #000;
                border-top-color: #fff;
                opacity:0.4;
                -webkit-animation:spin 10s linear infinite;
                animation:spin 10s linear infinite;
            }
        
            @-webkit-keyframes spin{
                0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg); }
                100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
            }

            @keyframes spin{
                0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg); }
                100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
            }
    }

header {
    .header {
        display: block;
        a {
            display: flex;
            justify-content: center;
            height: 25px;
            margin: 10px 0px;
        
            .img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

main {
    display: block;
    }
          
    form {
        display: block;
        border: 1px solid hsl(0, 7%, 92%);
        background-color: hsl(0, 12%, 89%);
        padding: 10px;
        
        .position {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-content: space-around;
            align-items: stretch;
            padding: 0px 30px;

            input {
                color: black;
                display:flex;
                align-content: space-between;
                background-color: hsl(0, 12%, 89%);
                font-weight: bold;
                border: initial;
            }
        }
    }

    section.reservation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding : 25px;
        background-color: rgb(238, 236, 236);
        h1 {
            text-align: center;
            font-weight: bold;
        }
        p {
            text-align: center;
            font-size: 14px;
            padding: 10px;

        }
        button {
            display: inline-block;
            width: 70%;
            height: 60px;
            border-radius: 60px;
            border: 2px solid rgb(218, 214, 214);
            background: linear-gradient(90deg, rgba(153,226,208,1) 0%, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 92%);
            padding: 15px;
            
            &:hover {
                cursor: pointer;
                background-color: black;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color:#fff;
            }
        }    
    
    }

    .fonction {
        display: block;
        margin: 0px 0px 40px 0px;

        h2 {
            margin: 10px;
            padding: 20px 15px; 
        }

        .choix {
            display: block;
            position: relative;

            &:hover {
                cursor: pointer;
                background-color: lighten(#9356DC, 30%);
            }

            .pastille {
                display: flex;
                justify-content: center;
                border: 1px solid black;
                background-color: #9356dc;
                width: 20px;
                height: 20px;
                border-radius: 20px;
                position: absolute;
                top: 15px;
                left: 20px;

                p {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                }
            }

            .icon {
                display: flex;
                flex-wrap: nowrap;
                background-color: rgb(238, 236, 236);
                box-shadow: 0.5em 0.5em 1em rgb(155 153 153 / 30%);
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                padding: 15px 20px 15px 10px;
                margin: 10px 10px 30px 30px;

                i {
                    padding: 0px 40px;
                    color: #9356dc;
                }
     
            }
        }

    }

    .restaurant {
        display: block;
        justify-content: center;
        background-color: rgb(238, 236, 236);
        border: 1px solid rgb(238, 236, 236);
        padding: 20px 0px 30px 10px;
        
        h2 {
            margin: 20px;
        }
        
        .picture{
            display: block;
            height: 180px;
            margin: 25px 20px;
            background-color: #fff;
            position: relative;
            border-radius: 20px;
            box-shadow: 0.5em 0.5em 1em rgb(155 153 153 / 30%);
            overflow: hidden;

            &:hover {
                cursor: pointer;
                -webkit-transform: scale(1);
	            transform: scale(1);
	            -webkit-transition: .3s ease-in-out;
	            transition: .3s ease-in-out;
            }

            .resto {
                display: block;
            
                .cadre {
                    display: flex;
                    width: 100%;
                    height: 130px;
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .texte {
                    display:flex;
                    flex-direction: column;
                    padding: 10px;
                    color: initial;
                    .nom {
                        font-weight: bold;
                    }
                }

                
                .nouveau {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    opacity:initial;
                    border: 1px solid $color-terciary;
                    color: green;
                    background-color: $color-terciary;
                }
            }
        }

        .coeur {
            position: absolute;
            bottom: 20px;
            right: 10px;

            .fa-heart {
                color: initial;

                &:hover {
                    background-image: linear-gradient(350deg, #ff788a 0, #ff6c92 10%, #ff609a 20%, #ff54a3 30%, #ff47ac 40%, #f23cb5 50%, #e034bf 60%, #cc32c9 70%, #b436d4 80%, #963dde 90%, #7145e8 100%);
                }                         
            }
        }
    }



footer {
    background-color: #000;
    color:#fff;
    padding: 25px 25px 35px 25px;

    h1 {
        font-family: shrikhand;
        font-size: 18px;
        color: #fff;
        margin-bottom: 10px;
    }
   
    nav {
        display: block;
        ul {
            display: flex;                    
            flex-direction: column; 
            
            li {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-items: center;
                cursor: pointer;

                a {
                    color:#fff;

                    &:hover {
                        border-bottom-color: #fff;
                    }

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}