@import "libs/variables.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";

body {
    h1{
        color: $color-secondary;
    }
    h3 {
        color: yellow;
    }
}

header {
    color:brown;
}