* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto";
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto";
}

body h1, body h2, body h3 {
  color: #000;
}
body p {
  color: #000;
  font-size: 16px;
}

header .header {
  display: block;
}
header .header a {
  display: flex;
  justify-content: center;
  height: 25px;
  margin: 10px 0px;
}
header .header a .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main {
  display: block;
}
main section.chargement {
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 30px;
}
main section.chargement .loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
main section.chargement .loader-circles {
  border-radius: 50%;
  border: 6px solid #999;
}
main section.chargement .loader-circles::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
main form {
  display: block;
  border: 1px solid #ece9e9;
  background-color: #e6e0e0;
  padding: 10px;
}
main form .position {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: stretch;
  padding: 0px 30px;
}
main form .position input {
  color: black;
  display: flex;
  align-content: space-between;
  background-color: #e6e0e0;
  font-weight: bold;
  border: initial;
}
main .reservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 25px;
  background-color: #eeecec;
}
main .reservation h1 {
  text-align: center;
  font-weight: bold;
}
main .reservation p {
  text-align: center;
  font-size: 14px;
  padding: 10px;
}
main .reservation button {
  display: inline-block;
  width: 70%;
  height: 60px;
  border-radius: 60px;
  border: 2px solid #dad6d6;
  background-color: #FF79DA;
  padding: 15px;
}
main .reservation button span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
}
main .fonction {
  display: block;
  margin: 0px 0px 40px 0px;
}
main .fonction h2 {
  margin: 10px;
  padding: 20px 15px;
}
main .fonction .choix {
  display: block;
  position: relative;
}
main .fonction .choix .pastille {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  left: 20px;
}
main .fonction .choix .pastille p {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}
main .fonction .choix .icon {
  display: flex;
  flex-wrap: nowrap;
  background-color: #eeecec;
  box-shadow: 0.5em 0.5em 1em rgba(155, 153, 153, 0.3);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px 20px 15px 10px;
  margin: 10px 10px 30px 30px;
}
main .fonction .choix .icon i {
  padding: 0px 40px;
  color: #9356dc;
}
main .restaurant {
  display: block;
  justify-content: center;
  background-color: #eeecec;
  border: 1px solid #eeecec;
  padding: 20px 0px 30px 10px;
}
main .restaurant h2 {
  margin: 20px;
}
main .restaurant .picture {
  display: block;
  height: 180px;
  margin: 10px 20px;
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  box-shadow: 0.5em 0.5em 1em rgba(155, 153, 153, 0.3);
  overflow: hidden;
}
main .restaurant .picture .resto {
  display: block;
}
main .restaurant .picture .resto .cadre {
  display: flex;
  width: 100%;
  height: 130px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}
main .restaurant .picture .resto .cadre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .restaurant .picture .resto .texte {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: initial;
}
main .restaurant .picture .resto .texte .nom {
  font-weight: bold;
}
main .restaurant .picture .resto .coeur {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: initial;
}
main .restaurant .picture .resto .nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: initial;
  border: 1px solid #99E2D0;
  color: green;
  background-color: #99E2D0;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 25px 25px 35px 25px;
}
footer h1 {
  font-family: shrikhand;
  font-size: 18px;
  color: #fff;
}
footer nav {
  display: block;
}
footer nav ul {
  display: flex;
  flex-direction: column;
}
footer nav ul li {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
footer nav ul li #proposition a {
  color: #fff;
  padding: 0px 10px;
}
footer nav ul li #partenariat a {
  color: #fff;
  padding: 0px 10px;
}
footer nav ul li a {
  color: #fff;
  padding: 0px 10px;
}

/*# sourceMappingURL=style.css.map */
